## Working with cars dataset

In [2]:
summary(cars)

     speed           dist
 Min.   : 4.0   Min.   :  2.00
 1st Qu.:12.0   1st Qu.: 26.00
 Median :15.0   Median : 36.00
 Mean   :15.4   Mean   : 42.98
 3rd Qu.:19.0   3rd Qu.: 56.00
 Max.   :25.0   Max.   :120.00

In [6]:
tail(cars)

   speed dist
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [4]:
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10